.main-layout {
  display: flex;
  height: calc(100vh - 60px); /* assuming navbar height is 60px */
}

.sidebar {
  width: 80px;
  background-color: #0e2a33;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  gap: 20px;
}

.link {
  background-color: #d3d3d3; /* default background */
  transition: background-color 0.3s ease;
  padding: 10px;
  border-radius: 12px;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link .icon {
  font-size: 24px;
  color: black;
}

.link.active {
  background-color: #5ba7d8; /* biru sesuai desain Figma */
}

.main-content {
  flex-grow: 1;
  background-color: #fff;
  padding: 20px;
  overflow-y: auto;
}
